<h1>製品原価確認</h1>

<table id="asset-list-table">
<thead>
  <tr>
    <th>アイテムID</th>
    <th>アイテム名</th>
    <th>一つあたりの価格</th>
    <th>生産数合計</th>
    <th>金額合計</th>
  </tr>
</thead>

<tbody>
<%# <% @asset_lists.each do |asset_list| %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<%# <% end %>
</tbody>
</table>

<br />

