<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @asset_list_master.type_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @asset_list_master.quantity %>
</p>

<%= link_to 'back',back2_asset_list_masters_path(@asset_list_master) %>

