// Place all the styles related to the AssetLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  padding: 0px 0px 12px 0px;
}

table.assets {
  width: 700px;
}

table.assets th {
  background-color: #F0F0F0;
  padding: 12px;
}

table.assets tr td {
  width: 550px;
  background-color: #FFFFFF;
  text-align: left;
  padding: 12px;
}
