<h1>在庫棚卸</h1>
<%= form_for @select_stations, url: inventory_clearances_path, method: :get do |f| %>

<div class="field">
  <%= f.label :station_id %><br />
  <%= f.collection_select :station_id,  @select_stations, :station_id, :station_name %>
</div>

<div class="actions">
  <%= f.submit("選択") %>
</div>
<% end %>

